<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta th:replace="~{mainLayout}"/>
    <style>
        .container {
            background: none;
        }

        .table {
            margin-top: 60px;
        }
    </style>
</head>
<body>
<div class="container">
    <div th:replace="header :: header"></div>
    <table class="datatable table table-striped table-bordered" id="beadTable">
        <thead>
        <tr>
            <th>Name</th>
            <th>Color</th>
            <th>Width</th>
            <th>Thread Width</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <div th:replace="footer :: footer"></div>
</div>
</body>
<script>
    $(document).ready(function () {
        var table = $('#beadTable').DataTable({
                serverSide: true,
                processing: true,
                ajax: {
                    url: 'http://localhost:8080/bead/list',
                    type: 'GET',
                    datatype: 'json',
                    columns: [
                        {data: "Name", "name": "Name"},
                        {data: "Color", "name": "Color"},
                        {data: "Width", "name": "Width"},
                        {data: "Thread Width", "name": "Thread Width"}
                    ]
                }
            }
        );
    });
</script>

</html>