<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Index</title>

<script type="application/javascript" src='https://code.jquery.com/jquery-1.12.3.js'></script>
<script type="application/javascript" src='https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js'></script>
<script type="application/javascript" src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"
        charset="utf-8"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.1.0/css/responsive.bootstrap.min.css">
